.modal__open{
    outline: 0;
    width:500px;
    height: 500px;
    margin:5rem auto;
    background-color: #fff;
    box-shadow: 1px 2px 3px 5px grey;
}
.form_{
    
    margin:2rem ;
}

.posts{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.image{
    width:100%;
    margin:auto;
    height:350px;
    mask-image:linear-gradient(to bottom,rgba(0,0,0),rgba(0,0,0,0));
}
.btn{
    width: 200px;
    height:50px;
    justify-content: center;
    align-self:center;
    border-radius:50px;
    outline: 0;
    font-size:25px; 
    font-style:bold italic;
    background-color: rgb(210, 210, 238);
    
}

.post__intern{
    width: 95%;
    margin: auto;
    /* height: 100vh; */

}
.grid{
    padding-top:5rem;
}
.no__post{
    text-align:center;
    font-size:50px;
    
}